SQUARE_ACCESS_TOKEN=
SQUARE_LOCATION_ID=
SQUARE_APPLICATION_ID=
SQUARE_MERCHANT_SUPPORT_EMAIL=
PUBLIC_APP_ORIGIN=
POLYGON_RPC_URL=
WERT_PARTNER_ID=
WERT_PRIVATE_KEY=
WERT_ORIGIN=https://widget.wert.io
WF_CRATE_CONTRACT_ADDRESS=0xB81B221d3379F21C17A6f70625d1F22a45399DAf
